
@font-face{

font-family: 'icon_save';
src: url('../font/icon/save.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}


@font-face{

font-family: 'icon_pencil';
src: url('../font/icon/pencil.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}


@font-face{

font-family: 'icon_timer';
src: url('../font/icon/timer.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}

@font-face{

font-family: 'icon_term';
src: url('../font/icon/term.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}
